.task-info-container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 47px 75px;
    background: #A5BBA2;
    border-radius: 10px;
    margin-top: 55px;
}

.task-info-cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FCF9F2;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 12px;
}


.task-info-sell > * {
    font-size: 16px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin: 12px 0;
    background: #FCF9F2;
}

.task-info-cell > :first-child {
    margin-top: 0;
}

.task-info-title-header {
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.task-info-group { 
    color: rgb(72, 72, 72);
}

.task-info-button {
    background: #ffffff;
    width: 50%;
    color: black;
    cursor: pointer;
}

.disabled {
    display: none;
}

.thread-title {
    padding-top: 15px;
    width: calc(40% + 130px);
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
}

.thread-container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 47px 75px;
    background: #A5BBA2;
    border-radius: 10px;
    padding-left: 80px;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 150px;
}

.thread-message-text {
    resize: vertical;
}

.please-expand {
    min-height: 50px;
    resize: vertical;
}

.no-margin-top {
    margin-top: 10px;
}