.header-container {
    display: flex;
    padding: 0 45px;
    background: #82956A;
    padding: 5px 45px;
    
    font-size: 15px;
    line-height: 18.29px;
    position: relative;
}

.header-authorized {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.header-authorized > * {
    padding: 16px 8px;
    margin: 0 48px;
}

.header-authorized > :first-child {
    margin-left: 0px;
}

.header-authorized > :last-child {
    margin-right: 0px;
}
