.lecturer-container {
    display: flex;
    flex-direction: row;
}

.lecturer-left {
    width: 80%;
}

.lecturer-upper-blocks {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.lecturer-upper-block {
    flex-grow: 1;
    padding: 20px;
    background: #A5BBA2;
    border-radius: 10px;
    margin: 0 10px; 
    margin-bottom: 20px;
    min-width: 200px;
    cursor: pointer;
    user-select: none;
    align-self: flex-start;
    position: relative;
}

.lecturer-grouplist {
    background: #d0e0ce;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    transform: translate(-20px, 10px);
    width: 50%;
}

.lecturer-grouplist.disabled {
    display: none;
}

.lecturer-grouplist-group {
    border-bottom: 2px solid #a9b7a8;
    padding: 2px;
}