.maketask-container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 47px 75px;
    background: #A5BBA2;
    border-radius: 10px;
    margin-top: 55px;
}

.maketask-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.maketask-form > * {
    font-size: 16px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin: 12px 0;
    background: #FCF9F2;
}

.maketask-form > :first-child {
    margin-top: 0;
}

.maketask-groups-label {
    margin-bottom: 3px;
    border-radius: 0;
}

.maketask-groups {
    margin-top: 0;
    border-radius: 0;
}

.maketask-desc {
    resize: vertical;
}


.maketask-submit {
    background: #cad3c9;
    cursor: pointer;
}

.maketask-reset {
    cursor: pointer;
}