.user-modal-container {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-200%, 100%); 
    background: #d1d1d1;
    padding: 12px;
    cursor: pointer;
    z-index: 10;
}

.user-modal-container.hidden {
    display: none;
}
